app-game-launch-dialog {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 9999 !important;
  pointer-events: none !important;
  display: block !important;
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
}

app-game-launch-dialog > * {
  pointer-events: auto;
}