<div class="flex-shrink-0 group cursor-pointer tap-highlight">
    <div class="border border-white/5 rounded-xl overflow-hidden relative hover:border-primary/50 shadow-primary/20  hover:shadow-md transition-all duration-300">
        <div class="h-[110px] relative bg-gradient-to-br from-purple-600/80 via-violet-500/60 to-fuchsia-600/80 overflow-hidden">
            <div class="absolute flex justify-center items-center top-2 left-2 gap-1 bg-primary rounded-2xl px-1.5 py-0.5">
                <app-icon name="star" class="text-black"></app-icon>
                <span class="text-xs font-semibold text-black capitalize">{{game().category}}</span>
            </div>
            <button class="absolute top-2 right-2 w-7 h-7 rounded-full bg-skin1/80 backdrop-blur-sm flex items-center justify-center transition-all hover:bg-background cursor-pointer z-10">
                <app-icon name="heart" class="text-white/40"></app-icon>
            </button>
            
            <!-- Hover Overlay -->
            <div class="game-card-overlay absolute inset-0 bg-black/70 backdrop-blur-sm opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center z-10">
                <button class="play-button px-2 py-1 bg-secondary hover:bg-secondary/90 text-black text-xs font-bold rounded-lg transition-all duration-200 transform hover:scale-105 cursor-pointer">
                    Play
                </button>
            </div>
        </div>
        <div class="p-2.5">
            <h3 class="text-xs font-semibold text-foreground truncate">{{ game().name }}</h3>
            <p class="text-[10px] text-white/50 truncate">{{game().provider}}</p>
            <div class="flex items-center justify-between mt-1.5">
                <span class="text-[10px] font-medium text-secondary">{{game().rtp}}</span>
                <span class="text-[10px] text-white/50 capitalize">{{game().volatility}}</span>
            </div>
        </div>
    </div>
</div>