@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
}

:root {
  --primary: oklch(0.70 0.15 285);
  --secondary: oklch(0.93 0.19 108);
  --success: oklch(0.65 0.20 145);
  --warning: oklch(0.75 0.15 70);
  --danger: oklch(0.60 0.22 25);
}
